APP_ENV=development
API_HOST=0.0.0.0
API_PORT=8000
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=protecto_prime_agent
DATABASE_USER=protecto
DATABASE_PASSWORD=protecto
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
SKIP_INTEGRATION_TESTS=false
BITBUCKET_WEBHOOK_SECRET=
